
<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Similarity Calculator
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">    
    <div class="col-md-12">       
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <div class="row">    
            <br/>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/cosine.png" style="width:100px;height:100px" class="img-square"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Calculate the Similarity using Cosine Algorithm </h3>
              <div class="row">
                <div class="col-xs-9">                  
                       <a class="btn" href="#" onclick="window.location.href='/calculator/cosine'">Calculate Cosine</a>
                </div>
                <div class="col-xs-3"></div>
              </div>
              <br/><br/>
            </div>
          </div>
          <hr/>
          
          <div class="row">    
            <br/>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/jaccard.png" style="width:100px;height:100px" class="img-square"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Calculate the Similarity using Jaccard Algorithm </h3>
              <div class="row">
                <div class="col-xs-9">                  
                       <a class="btn" href="#" onclick="window.location.href='/calculator/jaccard'">Calculate Jaccard</a>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                  
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="/assets/cosine.png" style="width:100px;height:100px" class="img-square"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Calculate the Similarity using Cosine Algorithm in parallel execution </h3>
              <div class="row">
                <div class="col-xs-9">                  
                       <a class="btn" href="/calculator/cosine_parallel">Calculate Cosine (Parallel)</a>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br/><br/>
            </div>
          </div>
          <hr/>
        </div>
      </div>
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr/>

		

<script type="text/javascript">
  $(document).ready(function(){
    $('input[type=file]').bootstrapFileInput();
  });  
</script>  