<!DOCTYPE html>
<html>
<head>
  <title>Similarity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/bootstrap.fileinput.js"></script>
</head>
<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/calculator/jaccard" onclick="window.location.href='/calculator/jaccard' ">Jaccard</a>
        </li>
        <li>
          <a href="/calculator/cosine" onclick="window.location.href='/calculator/cosine' ">Cosine</a>
        </li>
        <li>
          <a href="/calculator/cosine" onclick="window.location.href='/calculator/cosine_inverted_index' ">Cosine Inverted Index</a>
        </li>
        <li>
          <a href="/uploadFiles" onclick="window.location.href='/uploadFiles' ">uploadFiles</a>
        </li>
        <li>
          <a href="/cosineSequenceGraph"  onclick="window.location.href='/cosineSequenceGraph' " >Cosine Graph</a>
        </li>
       <!-- <li>
          <a href="/cosineParallelGraph" onclick="window.location.href='/cosineParallelGraph' ">Cosine Graph(Parallel)</a>
        </li> -->
        <li>
          <a href="/jaccardGraph" onclick="window.location.href='/jaccardGraph' ">Jaccard Graph</a>
        </li>
      </ul>
      
    </nav>
  </div>
</header>
<%= yield %>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
          <p class="pull-right">561 project <i class="icon-heart-empty"></i> by <a href="#">Raghu Sangars(RRS4291) & Pavanaja Manne(PXM8950)</a></p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
